<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="com.bian.base">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <meta-data
            android:name="BUG_HD_SDK_GENERAL_KEY"
            android:value="b8b4d69e7d9fcccb2ac6f82c0bbf5ef8" />
    </application>

</manifest>
