<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.bian.mydevsample">

    <application
        android:name=".application.MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!--<activity android:name=".ui.InfoTextViewActivity">-->
        <activity android:name=".ui._main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".ui.media.MediaPlayerActivity"/>
        <activity android:name=".ui.weituananim3.WeiTuanAnimTestActivity"/>
        <activity android:name=".ui.daggerstudy.Dagger2StudyActivity"/>
        <activity android:name=".ui.infotextview.InfoTextViewSampleActivity"/>
        <activity android:name=".ui.pageanim3qidian.QiDianViewPagerAnimActivity"/>
        <activity android:name=".ui.weituananim1.AnimViewExecutorTest"/>
        <activity android:name=".ui.adaptertest.AdapterTest"/>
        <activity android:name=".ui.weituananim2.FloatingAnimTest"/>
        <activity android:name=".ui.pageanim1.PagerAnimTest1"/>
        <activity android:name=".ui.pageanim2.PagerAnimTest2"/>
        <activity android:name=".ui.zhihuad.ZhiHuAdActivity"/>
        <activity android:name=".ui.qqclean.QQCleanAnimActivity"/>
        <activity android:name=".ui.pageanim4.PageAnimFadeActivity"/>
        <!--<activity android:name=".ui.backstage.BackStageActivity"/>-->

    </application>

</manifest>